/* Reset <------------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    font: inherit;
    text-decoration: none; 
    outline: none;
    color: inherit;
    background: none;
}

*, *::before, *::after {
    box-sizing: border-box;

}

img, picture, svg , video {
    display: block;
    max-width: 100%;
}

html {
    font-size: 10px;
    background-color: #4d4637;
    font-family: var(--fontMain);
}

body {
    min-height: 100vh;
    margin-inline: auto;
    width: min(90%,110rem);

}