/* Reset <------------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    font: inherit;
    text-decoration: none; 
    outline: none;
    color: inherit;
    background: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img, picture, svg , video {
    display: block;
    max-width: 100%;
}

html {
    font-size: 25px;
}

body {
    margin-inline: auto;
}

br { 
    display: block;
    content: "";
    margin: 1em;        
}

button {
    padding: .5rem 1rem;
    border: 1px solid #000;
    background: #fff;
    font-size: 1rem;
    font-weight: 700;

}
button:hover {
    background: #000;
    color: #fff;
}